@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Primary Colors */
  --white: #fff;
  --black: #272727;
  --white-alterno: #f3f3f3;
  --gray-color: rgba(5 6 15 / 0.6);
  /* Secondary Colors */
  --color-cyan: #00d6ee;
  --color-green: #6cfacd;
  --color-celeste: #00a9ff;
  --color-celeste-dark: #356ee9;
  --color-celeste-transparent: rgba(0, 170, 255, 0.5);
  /* Gradientes */
  --color-gradient: linear-gradient(
    var(--color-celeste-dark),
    var(--color-celeste),
    var(--color-cyan),
    var(--color-green)
  );
  --color-gradient-45deg: linear-gradient(
    45deg,
    #356ee9,
    #00a9ff,
    #00d6ee,
    #6cfacd
  );
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175, 172, 172);
}

/* Estilos Basicos */

body {
  overflow: hidden;
  overflow-y: scroll;

  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
}

/* Header */

.header {
  gap: 25px;
  display: flex;
  align-items: center;

  position: relative;
  z-index: 10;

  width: 100%;
  height: 50px;
  padding: 0 15px;
  overflow: hidden;
  box-shadow: 0 5px 60px -10px var(--gray-color);
}

.header__picture {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100%;
  overflow: hidden;
}

.header__logo {
  width: 100%;
}

/* Header Buscador */

.header__buscador {
  position: relative;
  width: auto;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__lupa {
  position: absolute;
  left: 12px;
  color: var(--color-celeste);
}

.header__input {
  height: 35px;
  border: none;
  outline: none;
  min-width: 250px;
  font-size: 0.8rem;
  text-indent: 2rem;
  border-radius: 8px;
  color: var(--gray-color);
  border: 1px solid var(--color-celeste);
}

/* Navegador */

.navegador {
  width: auto;
  height: 100%;
  position: relative;
  margin-right: 20px;
  margin-left: auto;
}

.navegador__items {
  width: auto;
  height: 100%;

  gap: 20px;
  display: flex;
  align-items: center;
}

.navegador__item {
  width: auto;
  height: 30px;
  cursor: pointer;
  min-width: 80px;
  line-height: 30px;
  text-align: center;
}

.navegador__link {
  width: 100%;
  height: 100%;
  font-weight: 300;
  transition: all 300ms;
  color: var(--color-celeste);
}

.navegador__link--hover:hover {
  color: var(--color-celeste-dark);
}

/* Navegador Iniciar Sesion */

.navegador__item--iniciar {
  transition: all 300ms;
  height: 35px;
  min-width: 150px;
  line-height: 35px;
  border-radius: 8px;
  background-color: var(--color-celeste);
}

.navegador__item--iniciar:hover {
  background-color: var(--color-celeste-dark);
}

.navegador__link--iniciar {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
}

/* Main */

.main {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/* Banner */

.banner {
  width: 100%;
  height: 530px;
  position: relative;
  background-image: url(../images/imagenBanner.png);
  background-position: right;
}

.banner__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.banner__content {
  width: 450px;
  height: 100%;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
}

.banner__title {
  font-size: 80px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 16px;
  color: var(--white);
  font-family: "Bebas Neue", cursive;
}

.banner__paragraph {
  font-size: 18px;
  color: var(--white);
  text-align: justify;
  margin-bottom: 32px;
  line-height: 1.5rem;
}

/* Banner Buttons */

.banner__buttons {
  gap: 30px;
  display: flex;
}

.banner__span {
  display: block;

  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
  color: var(--white);
}

.banner__cta {
  transition: all 300ms;
  color: var(--white);
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  background-color: var(--black);
}

.banner__cta--border {
  background-color: transparent;
  border: 2px solid var(--black);
}
